body {
    margin: 0;
    background-color: #273549;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: -100px;
    width: 500px;
}


.title-2 {
    color: #10B981;
}


.supporting-text {
    margin-top: -20px;
}


button {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #10B981;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    color: #10B981;
    background-color: #FFFFF0;
    transition: all .9s ease;
    -webkit-transition: all .9s ease;
}

/* hr {
    margin-bottom: 30px;
    background-color: #2F3E53
} */

.straight-line {
    border: 2px solid #2F3E53;
    margin-bottom: 30px;
}

.password-field {
    display: flex;
    justify-content: space-between;
   
}

.pass-field-text {
    background-color: #2F3E53;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    color: #2F3E53;
}